<div class="wrapper">
  <ng-container *ngIf="weatherData$ | async as weatherData; else loading">
    <ul class="weather-list">
      <li class="weather-list__item" *ngFor="let item of weatherData">
        <p class="weather-list__day">{{ isToday(item.date) ? 'Today' : (item.date | date: 'EEEE') }}
          <br>
          {{item.date | date: 'd MMM'}}
        </p>
        <img [src]="item.imgUrl" class="weather-list__icon" />
        <p class="weather-list__temp max">{{ item.maxTemp }}°</p>
        <p class="weather-list__temp min">{{ item.minTemp }}°</p>
      </li>
    </ul>
  </ng-container>
  <ng-template #loading>
    <app-loading></app-loading>
  </ng-template>
</div>
